*{
  
    background-color: rgb(214, 173, 108);
}
.alcenter{
    font-family: monospace;
    text-align: center;
    color: rgb(73, 69, 6);
    font-size: 30px;
}

p{
    font-family: monospace;
    font-size: x-large;
    color: brown;
}
.center{
    display: flex;
      justify-content: end;
        align-items: center;
}
#left{
    justify-content: start;
}
.center img {
    width: 500px;
    height: auto;
    border: 3px solid brown;
}
