*{
    background-color: rgb(214, 173, 108);
}
.alcenter{
    font-family: monospace;
    text-align: center;
    color: rgb(73, 69, 6);
}
p{
    font-family: monospace;
    font-size: x-large;
}
.center{
    display: flex;
        justify-content: center;
        align-items: center;
      
    
}
.center img {
    width: 500px;
    height: 300px;
    border: 3px solid brown;
}